* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10rem;
}

h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  padding: 1rem;
  background-color: #2980b9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

h4 {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #7f8c8d;
  font-weight: bolder;
}

.conatiner .quantity {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.quantity .quantity__minus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -2rem;
}

.quantity .quantity__input value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 3rem;
  position: relative;
}

.quantity .quantity__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* width: 10%;
  height: 3rem; */
}
