* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10rem;
}

h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  padding: 1rem;
  background-color: #2980b9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

h4 {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #7f8c8d;
  font-weight: bolder;
}

.container .quantity {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 9rem;
  height: 3.5rem;
  background-color: #b2bec3;
}

.quantity .quantity__minus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: transparent;
  margin-left: -6.9rem;
  border: none;
}

.quantity .quantity__minus span {
  font-size: 1.9rem;
  cursor: pointer;
}

.quantity__minus span:hover {
  color: #00b894;
}

.quantity .quantity__input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3.2rem;
  height: 2.7rem;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  background: #fff;
  color: #7f8c8d;
  border: none;
  font-weight: bolder;
  font-size: 1.2rem;
}

.quantity .quantity__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
  background-color: transparent;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: -7rem;
  border: none;
}

.quantity__plus span:hover {
  color: #00b894;
}

.quantity__plus span {
  font-size: 1.5rem;
  cursor: pointer;
}
